<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Query(Ono)</name>

  <description>
      Learned 90 some sushis in 2 days
  </description>

  <author href="https://www.instagram.com/_the_meme_mayor_/" email="lukescheller1991@outlook.com">
      Hardeep Shoker
  </author>

  
  <icon src='./logo.png'></icon>

</widget>